
@media (max-width: 1399px) {
  .support-list {
    padding: 15px 0px !important;
}
}
@media (max-width: 1199px) {
  .support-list {
    padding: 30px 0px !important;
    column-gap: 0px !important;
}
.support-list figure img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 10px !important;
}
}
@media (max-width: 992px) {
  .support-list {
    flex-direction: column;
    text-align: center;
}
.head-title {
  font-size: 4rem !important;
  padding-bottom: 25px !important;
  margin-bottom: 25px !important;
}
.page-section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.marquee-track > div {
  font-size: 4rem !important;
}
  }



@media (max-width: 768px) {
  #cursor {
      display: none;
  }
  .stories-container {
    padding: 0 12px;
}
  #cursor-border {
      display: none;
  }
  .head-title {
    font-size: 2.2rem !important;
    padding-bottom: 15px !important;
  margin-bottom: 15px !important;
}
.marquee-track > div {
  font-size: 2.2rem !important;
}
}
@media (max-width: 400px) {
	
  .stories-container {
    padding: 0 12px;
}
	.cart {
		width: 320px;
	}
  .custom_menu_list{
    text-align: center !important;
  }
  .custom_menu_list ul {
    flex-direction: column;
    padding: 20px 2px;
}
.custom_menu_list ul li {
  margin: 10px 16px;
  padding: 0px 15px;
  height: 270px !important;
  width: 231px !important;
}
.navbar-nav .dropdown-menu {
  width: 100%;
}

.announcement-message {
  padding: 7px 4px;
  font-size: 13px;
  /* font-weight: 700; */
}
.home-section .home-laptop .home-info .info-list li {
  font-size: 12px !important;
  margin-top: 12px;
}
.botn {
  line-height: 1.2;
}
.card-section {
  padding: 50px 0px !important;
}
.effect .effect-img video {
  height: 400px !important;
}
.effect .effect-img img {
  height: 400px !important;
}
.head-title {
  font-size: 2rem !important;
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
}
.title h2:last-child {
  font-size: 2.3rem !important;
}
.cta span {
  font-size: 12px !important;
  line-height: 13px !important;
  letter-spacing: 0 !important;
}

.marquee-track > div {
  font-size: 2rem !important;
}
}

@media (max-width: 360px) {
	.cart {
		width: 280px;
	}
  .cart {
    width: 291px;
}
.head-title {
  font-size: 1.8rem !important;
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
}
.cta span {
  font-size: 12px !important;
  line-height: 13px !important;
  letter-spacing: 0 !important;
}
.marquee-track > div {
  font-size: 1.8rem !important;
}
}

