@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@font-face {
  font-family: 'Eurotile_extended';
  src: url(../fonts/EurostileExtended.woff);
}
@font-face {
  font-family: 'Golden_hopes';
  src: url(../fonts/GoldenHopes.otf);
}
::selection {
	color: white;
	background: black;
}
::-webkit-scrollbar {
	height: 3px !important;
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #EFEEE9;
}

::-webkit-scrollbar-thumb {
	background: #080404;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
    --black: #080808;
    --white: #fff;
    --primary: #12dd7e;
    --theme-color: 59, 237, 178;
    --container_width: 1170px;
    --secondary: #ffa41c;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--black) !important;
}
.announcement-bar {
  background-color: #080808;
  width: 100%;
}
.announcement-bar {
  z-index: 10;
  position: relative;
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 2px;
  font-family: "Eurostile_Extended";
}
p:last-child {
  margin-bottom: 0;
}
.announcement-message {
  color: #17dd7e;
  margin: 0;
  font-size: 16px;
}
.announcement-message {
  display: block;
  padding: 11px 22px;
  font-size: 1.06667em;
  font-weight: 700;
}
.warr-bar {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #161616;
}
.warr-message {
  display: flex !important;
  justify-content: center;
  padding: 0px 20px 0 20px;
  border-right: 3px solid rgba(255,255,255, 0.8);
  font-size: 12px;
  line-height: 30px;
  font-family: 'Montserrat';
}
.warr-message {
  white-space: nowrap;
}
.warr-message img {
  margin: 0 10px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.warr-message p {
  color: #fff;
  margin: 0;
}
.bg-light {
  background-color: #080808 !important;

}
.text-primary{
  color: var(--primary) !important
  ;
}
.navbar .navbar-collapse .border-top {
  border-top: none !important;
  z-index: 1;
}
.navbar .navbar-nav .nav-link.active, .sticky-top.bg-white .navbar .navbar-nav .nav-link:hover, .sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}
.navbar .navbar-nav .nav-link {
  /* padding: 10px 15px; */
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  transition: .5s;
  border-bottom: 0!important;
  
}
.navbar-light .navbar-nav .nav-link {
  color: var(--white)
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(253, 253, 253, 0.55);
}

.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: .5s;
}
.navbar .dropdown-toggle::after {
  border: none;
  content: "+";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 8px;
}
/* button style    */
.site-nav__dropdown__items {
  display: flex;
  flex-wrap: wrap; /* Items को wrap करने की अनुमति दें */
}
/* Laptops (max-width: 1024px): 3 items per row */
@media (max-width: 1024px) {
  .site-nav__dropdown__items li {
      width: 33.33%; /* Adjust as needed for spacing */
  }
}

/* Tablets (max-width: 768px): 2 items per row */
@media (max-width: 768px) {
  .site-nav__dropdown__items li {
      width: 50%; /* Adjust as needed for spacing */
  }
}

/* Mobiles (max-width: 480px): 1 item per row */
@media (max-width: 480px) {
  .site-nav__dropdown__items li {
      width: 100%;
  }
}


.btn-square, .btn-sm-square, .btn-md-square, .btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
.btn-lg-square {
  width: 56px;
  height: 56px;
}
.btn-primary-outline-0 {
  border: 0;
  color: var(--bs-white) !important;
}
.btn {
  font-weight: 600;
  transition: .5s;
}
#searchModal .modal-content {
  background: rgba(250, 250, 250, .6);
}


/* cursor  */
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 20px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(var(--theme-color), 1);
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out,
      background-color 0.15s ease-out;
  z-index: 999;
}

.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-12{
  color: #0bf4f3;
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  width: 130px;
  height: 40px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  background: #000;
  color: #000;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.site-nav-dropdown {
  background: rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  /* backdrop-filter: blur(7.9px); */
  -webkit-backdrop-filter: blur(12.9px);
  backdrop-filter: blur(12.9px);
  border-radius: 10px;
}
.site-nav-dropdown {
  display: none;
  position: absolute;
  padding: 11px 30px 11px 0;
  margin: 0;
  z-index: 7;
  text-align: left;
  border: 1px solid #fff;
  background: #000;
  left: -1px;
  top: 41px;
}
.site-nav__dropdown .site-nav__link {
  width: 175px;
  padding: 0 15px;
  line-height: 1;
  height: auto;
  padding: 0 15px!important;
}
.icon-circle {
  background: linear-gradient(-32deg, #1A1D21 3%, #393D42 44% 56%, #1A1D21 97%) 0% 0%/200% 200%;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4), -4px -2px 16px rgba(195, 200, 205, 0.08);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  line-height: 1;
  vertical-align: middle;
}
.btn-search{
  color: var(--primary) !important;
}
.btn-cart{
  color: var(--primary) !important;
}
.btn-user{
  color: var(--primary) !important;
}
.megamenu__image{
  width: 400px;
}
/* ========== CART ==================== */
#cart-icon {
	/* font-size: 1.8rem; */
	cursor: pointer;
}
.cart {
  position: fixed;
  width: 300px;
  top: 0;
  right: -100%;
  min-width: 290px;
  z-index: 99;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--black);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: right 0.3s;
}

.cart.active {
	right: 0;
}

.cart-title {
	font-size: 1.5rem;
	font-weight: 600;
  color: var(--white);
	text-align: center;
	margin-top: 4rem;
}

.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	gap: 1rem;
	align-items: center;
	margin-top: 1rem;
}

.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}

.detail-box {
	display: grid;
	row-gap: 0.5rem;
}

.cart-product-title {
	font-size: 1rem;
	text-transform: uppercase;
}

.cart-price {
	font-weight: 500;
}

.cart-quantity {
	border: 1px solid var(--white);
	outline-color: #fd4646;
	width: 2.4rem;
	font-size: 1rem;
	text-align: center;
}

.cart-remove {
	font-size: 1.5rem;
	color: #fd4646;;
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid var(--white);
}

.total-title {
	font-size: 1rem;
	font-weight: 600;
  color: var(--white);
}

.total-price {
  color: var(--white);
	margin-left: 0.5rem;
}

.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	background-color: var(--primary);
	color:var(--black);
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-buy:hover {
	background-color: #171427;
  color:var(--white);
}

#close-cart {
	position: absolute;
  color: var(--primary);
	top:4rem;
	right: 0.8rem;
	font-size: 2rem;
	cursor: pointer;
}
.topbar {
  padding: 10px 0;
}
.topbar .top-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.btn-sm-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
.btn-sm-square {
  width: 34px;
  height: 34px;
}
#note {
  position: relative;
  animation: noteAnimate 10s infinite;
  animation-timing-function: ease-in-out;
  display: flex;
  align-items: center;
}
.link-hover {
  transition: 0.5s;
}
.break {
  display: flex !important;
  justify-content: center;
  padding: 0px 20px 0 20px;
  border-right: 3px solid var(--primary);
  font-size: 12px;
  line-height: 30px;
  font-family: 'Montserrat';
}
.breadcrumb {
 
}
.breadcrumb-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary);
    font-weight: 500;
}
.breadcrumb-item svg {
  width: 21px;
  height: 19px;
}
.breadcrumb-item.active {
  color: var(--primary);
}
.breadcrumb-item + .breadcrumb-item::before{
  color: var(--primary);
}
.navbar-nav .nav-item.dropdown {
  position: relative;
  z-index: 7;
  
}
/* .site-nav__dropdown {
  padding: 11px 30px 11px 0;
  display: none;
  position: absolute;
  margin: 0;
  text-align: left;
  border: 1px solid #fff;
  background: #000;
  left: -1px;
  top: 41px;
} */
.custom_menu_list{
  z-index: 99;
}
.custom_menu_list ul {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  display: inline-flex !important;
  padding: 20px 15px;
}

.custom_menu_list ul li {
  width: 170px;
  height: 230px;
  position: relative;
  list-style: none;
}

.custom_menu_list ul li:nth-child(2) {
  margin-left: 15px;
}

.custom_menu_list ul li:nth-child(3) {
  margin-left: 15px;
}

.custom_menu_list ul li a img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.custom_menu_list ul li .site-nav__label {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
}
/* 
.banner_info {
  display: block !important;
}
.banner_content {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_content .banner_title {
  font-size: 66px !important;
  line-height: 60px !important;
  margin: 0 0 40px;
  font-family: Eurostile_Extended;
  color: #17dd7e;
}

.banner_title span {
  font-family: "Golden_Hopes";
  letter-spacing: 0;
  font-size: 95px !important;
  padding-left: 0;
  margin-left: 12px !important;
  line-height: 70px;
}


.banner_desc {
  width: 70% !important;
  font: normal normal normal 20px/28px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
  color: #fff !important;
  font-size: 18px !important;
  font-family: Montserrat, sans-serif !important;
  line-height: 1.4 !important;
  margin-bottom: 0 !important;
  padding-left: 4px !important;
}
.section {
  background: radial-gradient(37.53% 147.33% at 5.39% 8.57%, rgba(10, 10, 10, 0.596) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #080808 0%, #131314 100%);
}
.hero-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.image-svg {
  width: 100%;
  height: auto;
}

.bg-layer {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.biggest {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0;
  color: #d7e1ec;
}

.hero-title{
  font-size: 60px;
  color: #d7e1ec;
  text-shadow: 0 0.25rem 0.5rem hsla(230 33% 7%/ 0.5);
}
.hero-image{
  background: hsla(190, 5%, 48%, 0.15);
  border: #696765 solid 1px;
  backdrop-filter: blur(3rem);
  box-shadow: 0 0.5rem 1rem 0 hsla(230 33% 7%/ 0.5);
  width:573px;
   height:615px;
   background-repeat: no-repeat;
   transform: scaleX(1.5);
   z-index: 0;
   box-shadow: 0 0.5rem 1rem 0 hsla(230 33% 7%/ 0.5);
   backdrop-filter: blur(3rem);
   border-radius: 12px;
   opacity: 0.5;
}
#blobContainer {
  position: fixed;
  height: 50vh;
  width: 50vw;
  z-index: 0;
  filter: url("#blur-contrast-composite");
}
canvas {
  height: 100vh;
  width: 100vw;
} */
.botn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0.125rem 0.125rem 0.125rem 0.1875rem;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0;
  background-image: linear-gradient(166deg, transparent 0% 50%, #2D3135 50%, #3E4248 100%), linear-gradient(166deg, #3E4248 0%, #2A2E32 50%, #3E4248 50%, #313437 100%);
  background-position: 0% 0%, 100% 100%;
  background-size: 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: var(--primary);
  text-shadow: inherit;
  box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08);
  transition: 0.5s ease-in-out;
  padding: 11px 40px;
  font-size: 1.25rem;
  border-radius: 10px;
  line-height: 1.7;
}

.botn:hover, .botn.hover, .botn:active, .botn.active {
  text-decoration: none;
  background-position: 100% 100%, 0% 0%;
  color: #d7e1ec;
  box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08), inset -2px -2px 4px rgba(54, 54, 57, 0.16), inset 2px 2px 4px rgba(30, 30, 32, 0.18);
  border-color: transparent;
}

.botn:focus, .botn.focus {
  outline: 0;
  box-shadow: 8px 8px 22px rgba(21, 22, 24, 0.38), -4px -2px 16px rgba(195, 200, 205, 0.08), inset -2px -2px 4px rgba(54, 54, 57, 0.16), inset 2px 2px 4px rgba(30, 30, 32, 0.18);
}

.botn.disabled, .botn:disabled {
  opacity: 0.65;
  pointer-events: none;
}
.navbar__toggle {
  background-color: #141414;
  border-radius: 50%;
  height: 2.25rem;
  padding: 0.75rem 0.65625rem;
  pointer-events: all;
  scale: .99999;
  width: 2.25rem;
}
.navbar__toggle__hamburger {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.navbar__toggle__hamburger span {
  background-color: #fff;
  border-radius: 10vmax;
  display: inline-block;
  height: 1.5px;
  position: absolute;
  transition-delay: 0s;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.5,1,.89,1);
  width: 100%;
}
.navbar--open .navbar__toggle__hamburger span:nth-child(2) {
  transform: scale(0);
}
.navbar--open .navbar__toggle__hamburger span:last-child {
  rotate: -45deg;
  transform: translateY(0);
}
.navbar__toggle__hamburger span:first-child {
  transform: translateY(-0.375rem);
}
.navbar--open .navbar__toggle__hamburger span:first-child {
  rotate: 45deg;
  transform: translateY(0);
}
/**===================== 4.5 Home section css ==========================**/
.home-section {
  background-color: #f1f1f1;
  text-align: center;
  padding: 32px 0px;
  /* padding: calc(100px + (190 - 100) * ((100vw - 320px) / (1920 - 320))) 0 calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))); */
  position: relative;
  background-image: url(../images/home/home-bg.png);
  background-size: cover;
  z-index: 0;
}
@media (max-width: 991px) {
  .home-section {
    overflow: hidden;
 }
}
.home-section .bg-effect .bg-gif {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  z-index: -1;
  top: 0;
  opacity: 0.04;
  mix-blend-mode: lighten;
}
.home-section .bg-effect .effect1 {
  position: absolute;
  left: 7%;
  top: 24%;
}
@media (max-width: 1199px) {
  .home-section .bg-effect .effect1 {
    left: 1%;
 }
}
@media (max-width: 767px) {
  .home-section .bg-effect .effect1 {
    left: -10px;
 }
}
@media (max-width: 650px) {
  .home-section .bg-effect .effect1 {
    display: none;
 }
}
.home-section .bg-effect .effect2 {
  position: absolute;
  right: 8%;
  bottom: 28%;
}
@media (max-width: 1199px) {
  .home-section .bg-effect .effect2 {
    right: 5%;
 }
}
@media (max-width: 767px) {
  .home-section .bg-effect .effect2 {
    display: none;
 }
}
.home-section .home-content h1 {
  color: var(--black);
  font-family: 'Eurostile_Extended';
}
@media (max-width: 991px) {
  .home-section .home-content h1 {
    font-size: 30px;
 }
}
@media (max-width: 767px) {
  .home-section .home-content h1 {
    font-size: 24px;
 }
}
.home-section .home-content h1 .title-effect {
  padding: 3px 20px;
  background-color: #000000;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
@media (max-width: 767px) {
  .home-section .home-content h1 .title-effect {
    padding: 1px 10px;
 }
}
@media (max-width: 576px) {
  .home-section .home-content h1 .title-effect {
    background-color: transparent;
    margin: 0;
    padding: 0;
 }
}
.home-section .home-content h1 .title-effect img {
  position: absolute;
  left: -18px;
  top: -18px;
  height: calc(100% + 36px);
  width: calc(100% + 36px);
}
@media (max-width: 576px) {
  .home-section .home-content h1 .title-effect img {
    display: none;
 }
}
.home-section .home-content h1 .title-effect span {
  background: url("../images/title-bg.jpg");
  background-position: bottom;
  -webkit-background-clip: text;
  color: var(--primary);
}
.home-section .home-content p {
  width: 70%;
  margin: 0 auto;
  margin: 32px auto;
  color: var(--white);
}
@media (max-width: 1199px) {
  .home-section .home-content p {
    width: 80%;
    margin: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320))) auto calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
 }
}
@media (max-width: 991px) {
  .home-section .home-content p {
    width: 100%;
 }
}
.home-section .home-content .start-link {
  display: flex;
  color: var(--primary);
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: all 0.5s ease;
  width: max-content;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 500;
}
.home-section .home-content .start-link:hover {
  transform: translateY(-5px) scale(1.1);
  transition: all 0.5s ease;
}
.home-section .home-content .start-link svg {
  stroke: var(--primary);
}
.home-section .home-laptop {
  margin-top: 48px;
}
.home-section .home-laptop .laptop-sec {
  perspective: 1130px;
}
.home-section .home-laptop .laptop-img {
  transform-style: preserve-3d;
  vertical-align: middle;
  transform: rotateX(50deg);
  will-change: transform;
}
@media (max-width: 767px) {
  .home-section .home-laptop .hand-sec {
    display: none;
 }
}
.home-section .home-laptop .hand-sec .left-hand {
  position: absolute;
  bottom: calc(-100% + 108px);
  left: 215px;
}
@media (max-width: 1430px) {
  .home-section .home-laptop .hand-sec .left-hand {
    left: 188px;
    bottom: calc(-100% + 99px);
 }
}
@media (max-width: 1400px) {
  .home-section .home-laptop .hand-sec .left-hand {
    left: 97px;
    bottom: calc(-100% + 97px);
 }
}
@media (max-width: 1199px) {
  .home-section .home-laptop .hand-sec .left-hand {
    left: 10px;
    bottom: calc(-100% + 98px);
 }
}
@media (max-width: 991px) {
  .home-section .home-laptop .hand-sec .left-hand {
    left: -105px;
 }
}
.home-section .home-laptop .hand-sec .right-hand {
  position: absolute;
  bottom: calc(-100% + 108px);
  right: 215px;
  transform: scaleX(-1);
}
@media (max-width: 1430px) {
  .home-section .home-laptop .hand-sec .right-hand {
    right: 188px;
    bottom: calc(-100% + 99px);
 }
}
@media (max-width: 1400px) {
  .home-section .home-laptop .hand-sec .right-hand {
    right: 97px;
    bottom: calc(-100% + 97px);
 }
}
@media (max-width: 1199px) {
  .home-section .home-laptop .hand-sec .right-hand {
    right: 10px;
    bottom: calc(-100% + 98px);
 }
}
@media (max-width: 991px) {
  .home-section .home-laptop .hand-sec .right-hand {
    right: -105px;
 }
}
.home-section .home-laptop .hand-sec .left-finger {
  position: absolute;
  bottom: -8px;
  left: 305px;
  z-index: 1;
}
@media (max-width: 1430px) {
  .home-section .home-laptop .hand-sec .left-finger {
    left: 292px;
 }
}
@media (max-width: 1400px) {
  .home-section .home-laptop .hand-sec .left-finger {
    left: 202px;
 }
}
@media (max-width: 1199px) {
  .home-section .home-laptop .hand-sec .left-finger {
    left: 115px;
 }
}
@media (max-width: 991px) {
  .home-section .home-laptop .hand-sec .left-finger {
    left: 0;
 }
}
.home-section .home-laptop .hand-sec .right-finger {
  position: absolute;
  bottom: -8px;
  right: 305px;
  z-index: 1;
  transform: scaleX(-1);
}
@media (max-width: 1430px) {
  .home-section .home-laptop .hand-sec .right-finger {
    right: 292px;
 }
}
@media (max-width: 1400px) {
  .home-section .home-laptop .hand-sec .right-finger {
    right: 202px;
 }
}
@media (max-width: 1199px) {
  .home-section .home-laptop .hand-sec .right-finger {
    right: 115px;
 }
}
@media (max-width: 991px) {
  .home-section .home-laptop .hand-sec .right-finger {
    right: 0;
 }
}
.home-section .home-laptop .home-info {
  margin-top: 75px;
}
@media (max-width: 767px) {
  .home-section .home-laptop .home-info {
    margin-top: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
 }
}
.home-section .home-laptop .home-info .info-list {
  display: flex;
  align-items: center;
  gap: 2px 25px;
  justify-content: center;
  padding-bottom: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  .home-section .home-laptop .home-info .info-list {
    gap: 2px 15px;
 }
}
.home-section .home-laptop .home-info .info-list:after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: rgba(0, 1, 0, );
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-section .home-laptop .home-info .info-list li {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: var(--white);
  padding-left: 15px;
  position: relative;
}
@media (max-width: 1400px) {
  .home-section .home-laptop .home-info .info-list li {
    padding-left: 8px;
 }
}
.home-section .home-laptop .home-info .info-list li:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgba(0, 1, 0, );
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home-section .home-laptop .home-info .star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: #ffb800;
  margin-top: 8px;
}
.home-section .home-laptop .home-info .star-rating i {
  font-size: 18px;
}
.home-section .home-laptop .home-info h4 {
  color: var(--white);
  max-width: 27%;
  margin: 4px auto 0;
  line-height: 1.4;
  font-size: 14px;

}
@media (max-width: 991px) {
  .home-section .home-laptop .home-info h4 {
    max-width: 48%;
 }
}
@media (max-width: 767px) {
  .home-section .home-laptop .home-info h4 {
    max-width: 58%;
 }
}
@media (max-width: 576px) {
  .home-section .home-laptop .home-info h4 {
    max-width: 90%;
 }
}
@media (max-width: 360px) {
  .home-section .home-laptop .home-info h4 {
    max-width: 100%;
 }
}
/* ======================= service ===================== */
.card-section{
  /* background-image: url(../images/home-bg.png); */
  background-color: #aaa;
  padding: 50px 30px;
  position: relative;
  z-index: 5;
}
.card-section::after{
  content: '';
  background-image: url(../images/noise-bg.avif);
  /* animation: noise 9s steps(10) infinite; */
  height:100%;
  opacity: 0.6;
  z-index: 0;
  left: 0;
  top:0;
  position: absolute;
  width: 100%;
}

.effect {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  z-index: 9;
}
.effect .effect-img {
  font-size: 0;
  position: relative;
  overflow: hidden;
}
.effect .effect-img:hover img{
opacity: 0;
}
.effect .effect-img img {
 width: 100%;
 height: 450px;
 position: absolute;
 object-position: center;
  object-fit: cover;
  transition: all ease 1s;
  border-radius: 12px;
}
.effect .effect-img video {
  width: 100%;
  height: 450px;
  object-position: center;
  transition: all ease 1s;
  object-fit: cover;
  border-radius: 12px;
}
.image-title  {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg,rgba(16,16,16,0) 0%,rgba(16,16,16,1) 100%);
  padding: 30px;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
}
.image-title a{
  color: var(--white);
  text-decoration: none;
}
.show-cursor{
  height: 6vw;
  width: 6vw;
  background-color: #677684;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-cursor span{
font-size: 1vw;
}
/* scroller  */
#slides{
  padding: 12vw 5vw;
  display: flex;
  justify-content: space-between;
}
.slide {
  width: 30%;
  border: 2px solid #081c15;
  padding: 12px;
  border-radius: 10px;
}
.slide .img img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.slide>a{
  text-decoration: none;
}
.para{
  padding: 10px 15px;
  background-color: #DDEDDE;
  margin: 20px 7px;
}
.para>p{
  color:#081c15;
}
.sale-btn{
  background-color: #081c15;
  color: var(--white);
  padding: 7px 23px;
  text-align: center;
  border-radius: 4px;
}
/* testimonial  */
.pb-80 {
  padding-bottom: 80px!important;
}

.pt-80 {
  padding-top: 80px!important;
}
.page-section {
  width: 100%;
  display: block;
  position: relative;
  border: 1px solid #12dd7e;
  background-color: #f1f1f1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-testmonials {
  font-family: Poppins;
  display: flex;
  gap: 2px;
  align-items: center;
  padding-left:60px  ;
  padding-right:60px  ;
}

.column-testmonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.section-details {
  border-left: 10px solid var(--black);
  padding-left: 20px;
  
}


.name-section {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black) !important;
  line-height: 1.2em;
  font-family: "Golden-hopes";
  margin: 0;
}

.title-section b {
  color: #650061;
}

.title-section {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.navigation-testmonials {
  display: flex;
  gap: 10px;
}


.swiper-testmonials {
  width: 80%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .section-testmonials {
      flex-direction: column;
      align-items: flex-start;
  }

  .swiper-testmonials {
      width: 100%;
  }
}

.swiper-testmonials .swiper-slide {
  border-radius: 10px;
  background: linear-gradient(118deg, #000000 10.88%, #000000 83.88%);
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transform: scale(0.9) !important;
  filter: blur(1px) grayscale(0.5);
  transition: 0.2s;
}

.swiper-testmonials .swiper-slide * {
  margin: 0;
}

.swiper-testmonials .swiper-slide-active {
  filter: blur(0px) !important;
  transform: scale(1) !important;
}

.card-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-slide {
  display: flex;
  align-items: center;
  gap: 20px
}

.title-slide h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.title-slide h6 {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.text-slide {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.swiper-button-testmonials-next,
.swiper-button-testmonials-prev {
  cursor: pointer;
}


@media (max-width: 768px) {
  .header-slide svg {
      width: 50px;
  }

  .title-slide h4 {
      font-size: 14px;
  }

  .swiper-testmonials .swiper-slide {
      padding: 20px;
  }
}

.head-title {
  position: relative;
  font-family: 'Eurostile_Extended';
  padding-bottom: 70px;
  font-size: 5rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.blue-color {
  color: var(--black);
  font-family: 'Eurostile_Extended';
}
.support-list {
  padding: 30px 24px;
  border: 2px solid var(--primary);
  align-items: center;
  column-gap: 16px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px 0px #c3c2c2;
  background-color: #f1f1f1;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}
.support-list figure {
  border-radius: 50%;
  padding: 1rem;
}
.support-list figure img {
  width: 75px;
  background-color: #12dd7e;
  height: 75px;
  border-radius: 18px;
  padding: 9px;
  object-fit: contain;
}
.support-list-text p.mb-2 {
  font-size: 20px;
  margin-bottom: 0 !important;
}
.support-list-text p:last-child {
  color: var(--primary);
  font-weight: 500;
}
.about-section {
  position: relative;
  overflow: hidden;
}
.about-section .about-content {
  padding-left: 80px;
}
[dir="rtl"] .about-section .about-content {
  padding-left: 0;
  padding-right: 80px;
}
@media (max-width: 1199px) {
  .about-section .about-content {
    padding-left: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
 }
  [dir="rtl"] .about-section .about-content {
    padding-left: 0;
    padding-right: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
 }
}
.about-section .about-content p {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .about-section .about-content p {
    margin-bottom: 20px;
 }
}
.about-section .about-content li {
  color: var(--black);
  display: flex;
  align-items: center;
  gap: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
  font-size: 18px;
  margin-bottom: 22px;
}
.about-section .about-content li img {
  width: 45px;
  height: 45px;
  background-color: var(--primary);
  border-radius: 50px;
  padding: 9px;
}
@media (max-width: 1199px) {
  .about-section .about-content li img {
    width: 45px;
 }
}
.about-section .about-content li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .about-section .about-content li {
    font-size: 16px;
 }
}
.about-section .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  .about-section .about-img img {
    width: 58%;
 }
}
.about-section .bg-effect {
  background:#f1f1f1;
  position: absolute;
  height: 100%;
  width: calc(100% - calc(27px + (264 - 27) * ((100vw - 1430px) / (1920 - 1430))));
  right: 0;
  top: 0;
  z-index: -1;
}
[dir="rtl"] .about-section .bg-effect {
  right: unset;
  left: 0;
}
@media (max-width: 1429px) {
  .about-section .bg-effect {
    width: calc(100% - calc(52px + (67 - 52) * ((100vw - 1400px) / (1430 - 1400))));
 }
}
@media (max-width: 1399px) {
  .about-section .bg-effect {
    width: calc(100% - calc(42px + (142 - 42) * ((100vw - 1200px) / (1400 - 1200))));
 }
}
@media (max-width: 1199px) {
  .about-section .bg-effect {
    width: calc(100% - calc(29px + (137 - 29) * ((100vw - 992px) / (1200 - 992))));
 }
}
@media (max-width: 991px) {
  .about-section .bg-effect {
    width: calc(100% - calc(36px + (148 - 36) * ((100vw - 768px) / (992 - 768))));
 }
}
@media (max-width: 767px) {
  .about-section .bg-effect {
    width: calc(100% - calc(33px + (127 - 33) * ((100vw - 576px) / (768 - 576))));
 }
}
@media (max-width: 576px) {
  .about-section .bg-effect {
    width: calc(100% - 15px);
 }
 .about-section .about-content .title h2:last-child {
    font-size: 4rem !important;
}
}
.about-section.right-version .about-content {
  padding-left: 0;
  padding-right: 80px;
}
[dir="rtl"] .about-section.right-version .about-content {
  padding-left: 80px;
  padding-right: 0;
}
@media (max-width: 1199px) {
  .about-section.right-version .about-content {
    padding-right: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
 }
  [dir="rtl"] .about-section.right-version .about-content {
    padding-right: 0;
    padding-left: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
 }
}
.about-section.right-version .bg-effect {
  left: 0;
  right: unset;
}
[dir="rtl"] .about-section.right-version .bg-effect {
  left: unset;
  right: 0;
}
.floro_btn {
  margin-top: 50px;
}
.floro_btn a {
  background-image: linear-gradient( 72deg, #8629cf 0, #fe0f90 51%, #f5b936 100% );
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font: 1.125rem Oswald, Arial, sans-serif;
  height: 56px;
  letter-spacing: 1px;
  margin: 0 25px 0 auto;
  padding: 2px;
  position: relative;
  text-decoration: none;
  width: 240px;
  z-index: 2;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
.floro_btn a span {
  align-items: center;
  background: #000;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

 .floro_btn a:hover,
 .floro_btn a.active {
  background: #8629cf;
  background: linear-gradient(72deg, #8629cf 0, #fe0f90 51%, #f5b936 100%);
}

 .floro_btn .active span,
 .floro_btn a:hover span {
  background: transparent;
}
@media screen and (max-width: 1199px) {
  .floro_btn a {
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .floro_btn a {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
 
}
@media screen and (max-width: 767px) {
  .floro_btn {
    margin-top: 30px;
  }
}
.owl-carousel.version-1, .owl-carousel.version-2{
  position: relative;
}
.logo-slider-1, .logo-slider-2 {
  width: 100%;
  background: #f1f1f1;
  padding: 0 30px;
  text-align: center;
}
.owl-carousel .owl-item {
  border: 1px solid var(--primary);
  /* background: #f1f1f1; */
  padding: 0 20px;
}
.owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: var(--primary) !important;
    color: var(--black);
    font-size: 22px;
    border-radius: 50%;
    margin: auto 0;
    box-shadow: 0px 0px 5px #00000069;
}
.owl-nav button.owl-next{
  right: 0;
  color: var(--primary);
}
.owl-nav button.owl-prev{
  left: 0;
}
.version-2 h2 {
  margin: 0px;
  font-size: 25px;
  color: var(--primary);
  font-weight: 600;
}
.version-2 p {
  font-size: 16px;
  line-height: 21px;
}
.version-2 .owl-item{
  text-align: center;
  padding: 10px 20px 20px;
}
.version-2 .owl-item img {
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 2px solid var(--primary);
  border-radius: 50px;
  margin: 0 auto;
}
.faq-section {
  padding-bottom: calc(0px + 60 * (100vw - 320px) / 1600);
}
.faq-section .accordion .accordion-item {
  margin-bottom: 25px;
  background: #12dd7e3b;
  border: 1px solid rgba(var(--primary), 0.1);
  border-radius: 4px;
}
.faq-section .accordion .accordion-item .accordion-button {
  background-color: rgba(245, 245, 245, 0.04);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--black);
  font-size: calc(16px + 6 * (100vw - 320px) / 1600);
  padding: calc(15px + 5 * (100vw - 320px) / 1600) calc(15px + 10 * (100vw - 320px) / 1600);
  line-height: 1.4;
}
.faq-section .accordion .accordion-item .accordion-button:after {
  content: "-";
  font-family: remixicon !important;
  font-style: normal;
  font-size: 22px;
  background-image: none;
}
.faq-section .accordion .accordion-item .accordion-button.collapsed {
  color: var(--black);
}
.faq-section .accordion .accordion-item .accordion-button.collapsed:after {
  content: "+";
}
.faq-section .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.faq-section .accordion .accordion-item .accordion-body {
  color: rgba(var(--content-color), 1);
  padding: calc(15px + 5 * (100vw - 320px) / 1600) calc(15px + 10 * (100vw - 320px) / 1600);
  border-top: 1px solid rgba(var(--title-color), 0.1);
}
.faq-section .accordion .accordion-item .accordion-body p {
  margin-bottom: 0;
}

.marquee{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.marquee-track{
  display: table;
  overflow: hidden;
  position: relative;
}
.marquee-track > div {
  display: table-cell;
  font-size: 7rem;
  font-family: 'Eurostile_Extended';
  white-space: nowrap;
}

.marquee-animation-1a{   
  animation: marquee-animation-1a 100s linear infinite;
  will-change: transform;
}
@media (prefers-reduced-motion: reduce) {
  .marquee-animation-1a {
      animation: none !important;
  }
}
@keyframes marquee-animation-1a {
0%{
    transform: translate3d(0,0,0);
}
100%{
    transform: translate3d(-50%,0,0);
}
}



.marquee-style-3{
  width: 120%;
  margin-left: -10%;
  padding: 20px 0;
  font-size: 150px;
  font-weight: 500;
  line-height: 0.92;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
  transition:ease-in-out all 1s;
  /* transform: rotate(-5deg); */
}
.marquee-style-3 .marquee-track > div:hover {
  color: var(--white);
  transition:ease-in-out all 1s;
}
.marquee-style-3 .marquee-track > div{
 padding-right: 0.5em; 
}
.light-content .marquee-style-3{
  color: var(--black);
  background: #fff;
}
#search{
  position: relative;
}
#search::before {
  position: absolute;
  padding: 0 20px;
  content: "Top Trending Search";
  font-size: 50px;
  top: 70px;
  white-space: nowrap;
  text-shadow: 5px 4px var(--white);
  flex-direction: row;
  backdrop-filter: blur(27px);
  display: flex;
  color: #12dd7e;
  font-family: 'Eurostile_Extended';
  left: 30%;
  z-index: 0;
  right: 49%;
  transform: translate(-40%, -50%);
}





@media only screen and (min-width: 750px){
  
}
@media only screen and (max-width: 749px){

#search::before {
  position: absolute;
  padding: 0 20px;
  content: "Top Trending Search";
  font-size: 19px;
  top: 41px;
  white-space: nowrap;
  text-shadow: 1px 1px var(--white);
  flex-direction: row;
  /* backdrop-filter: blur(27px); */
  display: flex;
  color: #12dd7e;
  font-family: 'Eurostile_Extended';
  left: 30%;
  z-index: 0;
  right: 49%;
  transform: translate(-40%, -50%);
}

}




/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--black);
  font-weight: normal;
  text-decoration: none;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "";
  
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
  color: var(--primary);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
}

.footer .copyright a {
  color: var(--black);
  text-decoration: none;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
  text-decoration: none;
}

 .highlight {
  position: relative;
}

.highlight:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: rgba(36, 36, 36, 0.494);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}
/* modal  */


.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0; }
  .form-control:active, .form-control:focus, .form-control:hover {
    border-bottom: 1px solid #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }
    new-content{
      border-radius: 0 !important;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

 

  /* best seller  */
  .filter_choice_top {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,.15);
    padding: 15px 35px;
    border: 2px solid #17dd7e;
    border-radius: 10px;
}
.filter_choice_top .filter_one p {
  align-items: center;
  font-size: 17px;
}
.filter_choice_top .filter_one .para {
  padding: 10px 0px;
  margin: 0px 7px;
  font-size: 1rem;
} 
.filter_choice_top .filter_one p span {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.filter_two .para {
  font-size: 1rem;
  line-height: 1.4;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  color: #000;
  padding: 10px 15px;
  background-color: transparent;
  margin: 0px 7px;
}
.filter_choice_top .filter_one p select {
  background-color: transparent;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  font-size: 13px;
  /* background-image: url(../images/svg/chevron-down-svgrepo-com.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: 100% 50%; */
  /* margin-left: 4px; */
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.filters-toolbar__input {
  border: 0 solid transparent;
  height: 30px;
  opacity: 1;
  position: relative;
}

.filter_choice_top .filter_one p select option {
  background-color: #fff;
  color: #000;
}
.filters-toolbar__input option {
  text-overflow: ellipsis;
  overflow: hidden;
}
.section-New-NewAttack-shop_collection_desc_main-padding{
  width: 100%;
  padding: 0 86px;
}
.shop_collection_desc_box {
  padding: 68px 86px 68px 100px;
  border-radius: 16px;
  background: #C0EDD8;
  box-shadow: 4px -4px 4px #06e97b54, -4px 4px 4px #09f58354;
}
.shop_collection_desc_icon {
  margin-right: 30px;
}
.shop_collection_desc_content h2 {
  font-family: Montserrat;
  font-size: calc(20px + (30 - 20) * (100vw - 375px) / (1440 - 375));
  font-style: normal;
  font-weight: 700;
  line-height: calc(24px + (36 - 24) * (100vw - 375px) / (1440 - 375));
  letter-spacing: 0px;
  margin: 0 0 22px;
}
.shop_collection_desc_content p {
  font-family: Montserrat;
  font-size: calc(12px + (18 - 12) * (100vw - 375px) / (1440 - 375));
  font-weight: 500;
  line-height: calc(14px + (22 - 14) * (100vw - 375px) / (1440 - 375));
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 22px;
}
/* happy place  */
.customize_head{
  font-size: 35px;
    line-height: 42px;
    color: #fff;
    font-family: Eurostile_Extended;
    letter-spacing: normal;
}
.happy{

}
.color-select{
  margin: 20px 0;
  border-top: 1px solid rgb(23 221 126);
    padding: 20px 0 0;
}
.qtydiv {
  display: flex;
  align-items: center;
  color: var(--primary);
}
.qtydiv label {
  display: block;
  margin-bottom: 0px;
  font-size: 0.93333em;
}
.qtydiv .qtybox {
  background: transparent;
  border: 2px solid #17dd7e;
  border-radius: 5px;
  text-align: center;
  padding: 0 5px;
  margin-left: 8px;
}
.qtydiv .btnqty.qtyminus {
  margin-right: 0px;
}
.qtydiv .btnqty {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  line-height: 20px;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
.qtydiv .quantity-input {
  border: none;
  border: none;
  padding: 8px;
  text-align: center;
  width: 50px;
  outline: none;
  display: inline-block;
  background: transparent;
  color: #000;
}
.qtydiv .btnqty.qtyplus {
  margin-left: -10px;
}
.product-form__controls-group {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  border-top: 1px solid rgb(23 221 126);
  padding: 20px 0 0;
  align-items: center;
}
.new-badge{
background-color: var(--primary) !important;
}
.price-item span:nth-child(2) {
  color: var(--primary);
  margin: 0 29px;
}
.price-item span:nth-child(3) {
  color: var(--primary);
  margin: 0 2px;
}
.price-item {
  margin: 20px 0;
  border-top: 1px solid rgb(23 221 126);
  padding: 20px 0 0;
}

/*---------------------
  Shopping Cart
-----------------------*/

.cart__close  {
	font-size: 18px;
	color: #111111;
	height: 40px;
	width: 40px;
	background: #f3f2ee;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
  cursor: pointer;
}

.continue__btn.update__btn {
	text-align: right;
}

.continue__btn.update__btn a {
	color: #ffffff;
	background: #111111;
	border-color: #111111;
}

.continue__btn.update__btn a i {
	margin-right: 5px;
}

.continue__btn a {
	color: #111111;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #e1e1e1;
	padding: 14px 35px;
	display: inline-block;
}

.site-blocks-table {
  overflow-x: scroll; }
  .site-blocks-table .product-thumbnail {
    width: 150px; }
  .site-blocks-table .btn {
    padding: 2px 10px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 0px !important;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px; }
  .site-blocks-table .product-name>h2  {
font-size: 18px !important;
width: 100%;
  }
  .site-blocks-table td {
    padding: 15px;
    text-align: start;
    /* vertical-align: middle; */
    color: rgba(0, 0, 0, 0.8); }
  .site-blocks-table tbody tr {
white-space:nowrap !important;
  }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid var(--primary) !important; }
  
.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000000; }
.ct-total{
  padding: 4px;
  border-bottom: 2px solid var(--black);
}
.ct{
  padding: 12px;
  border: 2px solid var(--black);
}